@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Medium.eot');
	src: local('Raleway Medium'), local('Raleway-Medium'),
		url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Medium.woff2') format('woff2'),
		url('../fonts/Raleway-Medium.woff') format('woff'),
		url('../fonts/Raleway-Medium.ttf') format('truetype'),
		url('../fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-SemiBold.eot');
	src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
		url('../fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
		url('../fonts/Raleway-SemiBold.woff') format('woff'),
		url('../fonts/Raleway-SemiBold.ttf') format('truetype'),
		url('../fonts/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Regular.eot');
	src: local('Raleway'), local('Raleway-Regular'),
		url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Regular.woff2') format('woff2'),
		url('../fonts/Raleway-Regular.woff') format('woff'),
		url('../fonts/Raleway-Regular.ttf') format('truetype'),
		url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Light.eot');
	src: local('Raleway Light'), local('Raleway-Light'),
		url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Light.woff2') format('woff2'),
		url('../fonts/Raleway-Light.woff') format('woff'),
		url('../fonts/Raleway-Light.ttf') format('truetype'),
		url('../fonts/Raleway-Light.svg#Raleway-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Bold.eot');
	src: local('Raleway Bold'), local('Raleway-Bold'),
		url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Bold.woff2') format('woff2'),
		url('../fonts/Raleway-Bold.woff') format('woff'),
		url('../fonts/Raleway-Bold.ttf') format('truetype'),
		url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

.container{
    width: 1050px;
    min-height: 30px;
    margin: 0 auto;
}

.clearfix::before,.clearfix::after{
    content: "";
    display: table;
    clear: both;    
}

header{
    width: 100%;
    height: 40px;
    background-color: black;
}

header h2{
    float: left;
    color: white;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 40px;
}

header h2 span{
    color: #2cd1b3;
    font-weight: bold;
}

header nav{
    float: right;
}

header nav ul{
    list-style-type: none;
}

.navbar > li{
    display: inline-block;
    text-align: center;
    height: 40px;
    width: 100px;
}

.navbar > li:first-child{
    position: relative;
    text-align: center;
}

.navbar > li > a:link, .navbar > li > a:visited {
    line-height: 40px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.navbar > li > a:hover, .navbar > li > a:active {
    line-height: 40px;
    font-size: 14px;
    font-weight: 600;
    color: #2cd1b3;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

/* === Dla wersji bez JS z wykorzystaniem samego CSS === */
/*
.navbar > li:hover .dropdown-menu, .navbar > li:active .dropdown-menu{
    display: block;
}
*/


.dropdown-menu{
    display: none;
    list-style-type: none;
    position: absolute;
    top: 35px;
    left: 0;
    margin: auto;
}

.dropdown-menu ul li{
    width: 120px;
    height: 32px;
    background-color: black;
    line-height: 32px;
    text-align: left;
    padding-left: 15px;
}

.dropdown-box{
    position: relative;
    width: 20px;
    height: 20px;
    top: 10px;
    margin: 0 auto;
    background-color: black;
    transform: rotate(45deg);
    z-index: 0;
}

.dropdown-menu ul li a:link, .dropdown-menu ul li a:visited {
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: white;
    text-decoration: none;
    z-index: 10;
}

.dropdown-menu ul li a:hover, .dropdown-menu ul li a:active {
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #2cd1b3;
    text-decoration: none;
    z-index: 10;
}

.visibility{
    display: block;
}

.nonvisibility{
    display: none;
}

section{
    width: 100%;
}

#intro{
    height: 500px;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(218,218,221,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(218,218,221,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(218,218,221,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(218,218,221,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(218,218,221,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(218,218,221,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dadadd', GradientType=0 );
}

#intro>div>div{
    float: left;
}

.intro-img{
    height: 450px;
    width: 430px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130%;
    margin-top: 50px;
    display: none;
}

.imgOne{
    background-image: url('../images/black_chair.png');
}

.imgTwo{
    background-image: url('../images/red.png');
}

.imgThree{
    background-image: url('../images/orange.png');
}

.intro-content{
    display: none;
}

#intro>div>div:first-child, #intro>div>div:last-child {
    width: 40px;
    color: #24ba9f;
    text-align: center;
    font-weight: 300;
    font-style: normal;
    font-size: 72px;
    height: 500px;
    line-height: 500px;
    cursor: pointer;
}

.intro-content{
    width: 455px;
    height: 500px;
    text-align: center;
    margin-right: 50px;
    margin-left: 35px;
}

.intro-content>h1{
    margin-top: 130px;
    font-size: 40px;
    font-weight: 500;
    font-style: normal;
}

.intro-content>h1 span{
    font-size: 40px;
    font-weight: 700;
    font-style: bold;
    color: #24ba9f;
}

.intro-content>p{
    margin-top: 35px;
    margin-bottom: 35px;
    line-height: 22px;
    font-size: 14px;
    font-style: normal;
}

.intro-content>div{
    width: 260px;
    height: 52px;
    line-height: 52px;
    border-radius: 10px;
    text-transform: uppercase;
    text-align: center;
    background-color: #24ba9f;
    color: white;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    margin: 0 auto;
}


#gallery>div{
    height: 350px; 
}

#gallery>div>div{
    float: left;
    margin-top: 25px;
}

/*=== Lewy obrazek ===*/

#gallery>div>div:first-child{
    width: 330px;
    height: 225px;
    background-image: url('../images/box1_img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: left;
    font-style: normal;
    font-size: 12px;
}

#gallery>div>div:first-child>div{
    width: 330px;
    height: 60px;
    background-color: rgba(255,255,255,0.5);
    padding-top: 15px;
    padding-left: 15px;
    margin-top: 150px;
}

#gallery>div>div:first-child>div>h3{
    padding-left: 3px;
}

#gallery>div>div:first-child>div>div{
    width: 140px;
    height: 7px;
    background-color: #25caa2;
}

/*=== Środkowy obrazek ===*/

#gallery>div>div:nth-child(2n){
    width: 330px;
    height: 225px;
    background-image: url('../images/box2_img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: left;
    font-style: normal;
    font-size: 12px;
    margin-left: 25px;
}

#gallery>div>div:nth-child(2n)>div{
    width: 330px;
    height: 60px;
    background-color: rgba(255,255,255,0.5);
    padding-top: 15px;
    padding-left: 15px;
    margin-top: 150px;
}

#gallery>div>div:nth-child(2n)>div>h3{
    padding-left: 3px;
}

#gallery>div>div:nth-child(2n)>div>div{
    width: 140px;
    height: 7px;
    background-color: #25caa2;
}

/*=== Prawy obrazek ===*/

#gallery>div>div:last-child{
    width: 340px;
    height: 255px;
    border: 1px solid #dbdbdb;
    text-align: left;
    font-style: normal;
    font-size: 12px;
    margin-left: 25px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 30px;
    overflow: auto;
}

#gallery>div>div:last-child>h3{
    padding-bottom: 3px;
    font-size: 16px;
}

#gallery>div>div:last-child>div{
    width: 140px;
    height: 7px;
    background-color: #25caa2;
}

#gallery>div>div:last-child>p:first-of-type{
    margin-top: 10px;
    text-align: left;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
}

#gallery>div>div:last-child>p:last-of-type{
    margin-top: 20px;
    text-align: left;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
}

/* ===== CENNIK ==== */

/* === Nagłówek ===*/
#main{
    width: 100%;
    height: 725px;
    background-color: #f1f1f1;
}

#main>div:first-child>h2{
    text-align: left;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    text-transform: uppercase;
    margin-top: 40px;
}

#main>div:first-child>div{
    width: 320px;
    height: 7px;
    background-color: #25caa2;
    margin-bottom: 76px;
}

/* === Oferty === */
.main-box{
    position: relative;
    float: left;
    width: 329px;
    height: 498px;
    border: 2px solid #d6d6d6;
    background-color: #f9f9f9;
    text-align: center;
    margin-left: 31px;
}

.main-box:first-of-type{
    margin-left: 0;
}

.circle-one{
    position: absolute;
    width: 54px;
    height: 54px;
    border: 2px solid #d6d6d6;
    border-radius: 50%;
    background-color: #ffffff;
    margin: auto;
    top: -36px;
    right: 0;
    left: 0;
    z-index: 1;
}

.circle-one>div{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #c2c2c2;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
}

.main-box>h2{
    margin-top: 25px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    color: #27c7ab;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    z-index: 10;
}

.circle-two{
    position: absolute;
    width: 127px;
    height: 127px;
    border: 2px solid #d6d6d6;
    border-radius: 50%;
    background-color: #ffffff;
    margin: auto;
    top: 82px;
    right: 0;
    left: 0;
    z-index: 1;
}

.circle-two>p:first-child{
    display: block;
    position: absolute;
    color: #c1c1c1;
    font-style: normal;
    font-weight: 700;
    font-size: 42px; 
    top: 27px;
    right: 8px;
    left: 0;
    bottom: 0;
    margin: auto;    
}

.circle-two>p:first-child sup{
    display: block;
    position: absolute;
    font-style: normal;
    font-weight: 700;
    font-size: 16px; 
    top: 0;
    right: 0;
    left: 65px;
    bottom: 40px;
    margin: auto;
}

/* Poniżej ostylowanie indeksu dla ostatniej oferty.*/
.lastSup{
    left: 80px !important;
}

.circle-two>p:last-child{
    display: block;
    position: absolute;
    color: #c1c1c1;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 14px; 
    top: 80px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.main-box>p{
    width: 100%;
    height: 42px;
    line-height: 42px;
    background-color: #e4e4e4;
    font-style: normal;
    font-weight: normal;
    font-size: 22px; 
}

.main-box>p:nth-of-type(2n+1){
    background-color: #e4e4e4;
    color: #a1a1a1;
}

.main-box>p:nth-of-type(2n){
    background-color: #f1f1f1;
    color: #888888;
}

.main-box>p:first-of-type{
    margin-top: 188px;
}

.main-button{
    display: block;
    position: absolute;
    width: 120px;
    height: 33px;
    line-height: 33px;
    border-radius: 10px;
    text-transform: uppercase;
    text-align: center;
    background-color: #27c7ab;
    color: white;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    right: 0;
    left: 0;
    bottom: 20px;
    margin: 0 auto;
    
}

/* === Oferty - hover/active === */

.main-box:hover{
    background-color: #27c7ab;
    border-color: #27c7ab;
}

.main-box:hover h2{
    color: #ffffff;
}

.main-box:hover .circle-one{
    background-color: #27c7ab;
    border-color: #27c7ab;
}

.main-box:hover .circle-one>div{
    background-color: #fbfffe;
}

.main-box:hover .circle-two{
    border-color: #27c7ab;
}

.main-box:hover .circle-two p{
    color: #27c7ab;
}

.main-box:hover > p:nth-of-type(2n+1){
    background-color: #ffffff;
}

.main-box:hover .main-button{
    background-color: #ffffff;
    color: #27c7ab;
}


/* === FORMULARZ KONTAKTOWY === */

/* === NAGŁÓWEK ==== */
form{
    width: 100%;
    height: 550px;
}

form>div:first-child>h2{
    text-align: left;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    text-transform: uppercase;
    margin-top: 30px;
}

form>div:first-child>div{
    width: 320px;
    height: 7px;
    background-color: #25caa2;
    margin-bottom: 44px;
}


/* === FORMULARZ === */
form>div:last-child div{
    float: left;
}

form>div:last-child div:first-of-type{
    width: 660px;
}

form>div:last-child div:last-of-type{
    width: 343px;
    height: 370px;
    margin-left: 47px;
    text-align: left;
    position: relative;
}


input, textarea{
    display: block;
    width: 632px;
    border: 1px solid #25caa2;
    font-size: 32px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    color: #25caa2;
    padding-left: 16px;
}

input{
    margin-bottom: 26px;
    height: 65px;
    line-height: 65px;
}

textarea{
    height: 188px;
    resize: none;
    padding-top: 15px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    opacity: 1;
    color: #e4e4e4;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    opacity: 1;
    color: #e4e4e4;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    opacity: 1;
    color: #e4e4e4;
}

input:focus, textarea:focus{
    border: 2px solid #25caa2;
}

form>div:last-child div:last-of-type>img{
    display: block;
    position: absolute;
    left: 20px;
    top: -30px;
    margin: auto;
}

form>div:last-child div:last-of-type>label{
    display: inline-block;
    position: absolute;
    font-size: 20px;
    font-weight: 300;
    color: #c6c6c6;
    right: 0;
    left: 0;
    bottom: 108px;
    margin: auto;
    margin-left: 61px;
    z-index: 100;
}

form>div:last-child div:last-of-type>input[type='checkbox'] {
    display: none;
}
 
form>div:last-child div:last-of-type>input[type='checkbox']+div{
    display: inline-block;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #25caa2;
    height: 48px;
    width: 48px;
    left: 0;
    bottom: 108px;
    margin: auto;
    z-index: 100;
}

form>div:last-child div:last-of-type>input[type='checkbox']:checked+div{
    display: inline-block;
    position: absolute;
    background-color: transparent;
    background: url("../images/form_ok.jpg") center/contain no-repeat #ffffff;
    border: 1px solid #25caa2;
    height: 48px;
    width: 48px;
    left: 0;
    bottom: 108px;
    margin: auto;
    z-index: 100;
}

.form-button{
    position: absolute;
    width: 343px;
    height: 69px;
    line-height: 52px;
    border: 0;
    border-radius: 10px;
    text-transform: uppercase;
    text-align: center;
    background-color: #24ba9f;
    color: #ffffff;
    font-family: 'Raleway', sans-serif; 
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    right: 0;
    bottom: 0;
    margin: auto;
}


footer{
    width: 100%;
    height: 100px;
    margin: 0;
}

footer>div>p{
    float: left;
    text-align: left;
    font-size: 14px;
    letter-spacing: 1.5px;
    color: #a1a1a1;
    line-height: 100px;
}

footer>div>div{
    float: right;
    margin-top: 32px;
}

footer>div>div>img{
    display: block;
    float:left;
    width: 35px;
    height: 35px;
}

footer>div>div>p{
    display: block;
    float: left;
    letter-spacing: 1.25px;
    height: 18px;
    line-height: 18px;
    text-align: right;
    font-weight: 500;
    font-size: 18px;
    color: #a1a1a1;
    text-transform: uppercase;
    margin-left: 65px;
    margin-top: 12px;
}

/* F O R M U L A R Z - K A K U L A T O R*/

section.application *{
    box-sizing: content-box; 
}

.application {
  background-color: #f9f9f9;
  padding:30px 0;
}

.application h3 {
  color: #575757;
  font-size: 18px;
}

.application header.align_right{
  text-align: right;
}


.inline {
  display:inline-block;
  width:300px;
  padding:14px;
  vertical-align: top;
}


.form { 
  margin-top:50px;
}

.drop_down_list {
  border:1px solid #8de0d2;
  width: 280px;
  height:38px;
  background-color: white;
  margin-top:22px;
  padding: 8px 12px;
  position: relative;
}

.list_label {
  font-size: 30px;
  color: #e2e2e2;
  font-family: 'ralewaylight', Arial, Tahoma, sans-serif;
  cursor: pointer;
}


.checkbox {
  position: relative;
  padding: 30px 30px 30px 0;
}

.checkbox input {
  display: block;
  opacity: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  cursor: pointer;
}

.checkbox label {
  display: block;
  padding-left: 65px;
  position: relative;
  font-size: 28px;
  color: #cecece;
  line-height: 120%;
  padding-top: 10px;
  cursor: pointer;
}

.checkbox label::before, .checkbox label::after {
  border: 1px solid #27c7ab;
  content: "";
  display: block;
  left: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  top: 0;
}

.checkbox label::after {
  background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
  border: 0;
  display: none;
}

.checkbox input:checked + label::after {
  display: block;
}


.active {
  background: url('../images/form_ok.jpg');
  width: 48px;
  height: 40px;

}
.inline_text {
  display: inline-block;
  width: 228px;
  vertical-align: top;
  margin-top: 30px;
  margin-left: 15px;
  color: #aeaeae;
}

.image_part{
  width: 350px;
}

.image_part img{
  margin-top: 110px;
  margin-left: 45px;
}


.application .green_bell {
  background-color: #24baa0;
  width: 200px;
  height: 6px;
  display: inline-block;
  margin: 5px 0 5px 0;
}

.summary_panel {
  background-color: white;
  width:100%;
  height:195px;
  padding:10px;
  margin-top: 50px;

}

.application .green_button {
  background-color: #27c7ab;
  color: white;
  text-align:center;
  text-transform: uppercase;
  width: 200px;
  padding: 10px 30px;
  font-size: 24px;
  display: inline-block;
  font-family: 'ralewaymedium', Arial, Tahoma, sans-serif;
  margin-top: 20px;
  margin-left: 29px;
  border-radius: 8px;
  text-decoration: none;
}

.panel_left {
  display: inline-block;
  width: 185px;
  vertical-align: top;
  padding-bottom:10px;
  border-bottom:1px solid #e7e7e7;
  height: 135px;
}

.panel_right {
  display: inline-block;
  width: 100px;
  border-left:1px solid #e7e7e7;
  text-align: right;
  vertical-align: top;
  padding-bottom:10px;
  border-bottom:1px solid #e7e7e7;
  height: 135px;
}

.panel_left h4 , .panel_right h4{
  color: #24baa0;
  font-size: 23px;
  margin: 0;
}

.panel_left span{
  margin-top: 10px;
  font-size: 22px;
  color: #5b5a5a;
  display: block;
}

.panel_right span {
  display: block;
  font-size: 22px;
  color: #24baa0;
  margin-top:10px;
}

.sum_label{
  display: inline-block;
  width: 185px;
  margin-top: 10px;
  font-size: 22px;
  color: #5b5a5a;
}

.sum {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-top: 10px;
  font-size: 22px;
  color: #24baa0;
}

.list_arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #24baa0;
  display:block;
  position: absolute;
  right: 14px;
  top: 20px;
  cursor: pointer;
}

.list_panel {
  background-color: white;
  border: 1px solid #ccc;
  width: 288px;
  padding-left: 15px;
  padding-bottom: 10px;
  list-style: none;
  margin: 0;
  left: 0px;
  z-index: 2;
  position: absolute;
  top: 54px;
  display:none;
}
.list_panel li {
  margin-top:10px;
  cursor: pointer;
  color: #585858;
}

.title {
  height: 30px;
}

.visible{
    display: block;
}

.invisible{
    display: none;
}